

.butts{
text-align: center;
}


.form-control{
font-size: 25px;
height: 150%;
}
.form-signin{
	padding-bottom: 5px;
}
#form-back{
	padding-top: 5px;
}
#form-back-2{
	padding-top: 5px;
}
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}